body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    user-select: none;
}

.card {
    width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* box-shadow: 0 0 3px -6px hsl(218, 44%, 22%); */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 100px rgba(0, 0, 0, 0.12)
}


#title {
    width: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.paragraph {
    padding: 0 15px;
}
h1 {
    font-size: 25px;
    color: hsl(218, 44%, 22%);
}


input {
    width: 240px;
    font-weight: 700;
    border: 1px solid hsl(220, 15%, 55%);;
    background-color: white;
    padding: 5px 15px;
    border-radius: 10px;
    color: hsl(218, 44%, 22%);
    font-size: 18px;
}

button {
    width: max-content;
    font-weight: 700;
    border: 1px solid hsl(220, 15%, 55%);
    padding: 5px 15px;
    border-radius: 10px;
    margin: 20px 0 10px 0;
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}

#inputfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padding {
    border-radius: 10px;
    width: 280px;
    height: 280px;
    background-color: #0093E9;
    background-image: linear-gradient(128deg, #0093E9 0%, #80D0C7 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrcode-2 {
    height: 128px;
    width: 128px;
}



img {
    width: 128px;
}